@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Tangerine:wght@400;700&display=swap');
:root {
    --outline: white;
    --secondary: #d09f2e ;
    --primary: #191919;
    
}

* {
    margin: 0;
    font-family: "Oswald", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

#hero-vid {
    z-index: -1;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
}

#hero-vid::after {
    background-color: red;
    min-width: 100vw;
    min-height: 100vh;
}

.bg-container .overlay {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(161, 156, 145, 0.479); /* 0.2 = 20% Äiernej */
}
nav ul {
    display: flex;
    list-style-type: none;
}

nav {
    background-color: var(--primary);
    justify-content: center;
    padding: 10px 40px;
    border: 3px solid var(--secondary);
    border-radius: 50px;
    border-top-right-radius: 0;
    width: fit-content;
    margin-block: 20px;
    margin-inline: auto 5vw;
}
nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
    transition: color 0.3s;
}
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in;
}
nav a:hover::after {
    width: 100%;
}

.overlay::before {
  content: '';
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../media/backgroundimg2.png");
  transform: skewX(30deg) translateX(50vw) ;
  border-right: 5px solid var(--secondary);
  box-shadow: inset 0 0 10px black;
  top: 0;
  left: 0;
  
  
}

#hero-logo {
    transform: translateY(-5em);
    width: 40rem;
    max-width: 100vw;
}
.hero-container {
    display: flex;
}
.hero-right {
    padding: 2em;
    text-align: right;
    color: white;
}

.hero-right h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
}

.stars {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    font-weight: 300;
}

.stars > img {
    width: 1.5rem;
}

.act-container {
    display: flex;
    justify-content: end;
    
    gap: 2em;
    align-items: center;
    justify-self: flex-end;
    width: 100%;
    height: 5rem;
}

.act {
    padding: 0.5em 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ceb147;
    border-radius: 40px;
    border-top-right-radius: 0;
    transition: all 200ms ease-in-out;
    box-shadow: inset 0 0 3px black;
}

.act-prim {
    background-color: var(--secondary);
    color: var(--primary);
}

.act-prim:hover {
    transform: translateY(-0.2em);
    background-color: var(--primary);
    color: white;
}

.act-sec:hover {
    transform: translateY(-0.2em);
    background-color: var(--secondary);
    color: var(--primary);
}

body {
    background-image: url("../media/backgroundimg2.png");
    height: 5000px;
}

.motto-container {
    isolation: isolate;
    position: relative;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(223, 84, 25, 1) 50%, rgba(252, 176, 69, 1) 100%);
    text-align: center;
    color: white;
    font-size: 4em;
    background-color: linea;
    box-shadow: inset 0 0 3px black;
}
.motto-container p{
    font-family: "Tangerine", cursive;
}
#motto{
    font-family: "Tangerine", cursive;
}

.motto-container::after,
.motto-container::before {
    content: '';
    
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(223, 84, 25, 1) 50%, rgba(252, 176, 69, 1) 100%);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-5deg);
    box-shadow: 0 0 10px black;
  }

.motto-container::before {
    transform: skewY(5deg);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10em;
    background-color: var(--secondary);
    --mask:
      radial-gradient(2.9em at 50% 4.1em,#000 99%,#0000 101%) calc(50% - 4em) 0/8em 100%,
      radial-gradient(2.9em at 50% -2.1em,#0000 99%,#000 101%) 50% 2em/8em 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

.services h2 {
    position: relative;
    font-size: 4em;
    font-weight: 300;
    margin-left: 1em
}
.services h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 4em;
    height: 3px;
    background-color: white;
}
.services { 
    padding-top: 5em;
    background: #423e34;
    background: linear-gradient(0deg, var(--primary) 0%, rgba(15, 15, 15, 1) 100%);    
    
    color: #f9fafb; font-family: Arial, sans-serif; 
}
.swiper { width: 90%; padding: 40px 0; }
.swiper-slide { background: #151515; border-radius: 20px; padding: 20px; text-align: center; }
.swiper-slide h3 { color: #facc15; }
