<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}LV Mont – Strechy{% endblock %}</title>
  {% block links%}{%endblock%}
  
</head>
<body>
  <header>
    <nav class="nav-container">
        <ul>
          <li><a href="#">Domov</a></li>
          <li><a href="#">Naše služby</a></li>
          <li><a href="#">Realizácie</a></li>
          <li><a href="#">Referencie</a></li>
          <li><a href="#">O nás</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
        <button class="hamburger" aria-label="Menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- <footer>
    <p>copyright Kristian Lančarič</p>
  </footer> -->

  {% block scripts %}{% endblock %}

</body>
</html>
