{% extends "base.html" %}
{% load static %}
{% block title %}Kontakt{% endblock %}

{% block description %}Spojte sa s nami – kontaktujte LF Strechy cez formulár alebo telefonicky.{% endblock %}
{% block og_title %}LF Strechy – Kontaktujte nás{% endblock %}
{% block og_description %}Sme tu pre vás. Rýchla odozva a priateľský prístup.{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'css/contact.css'%}">
<link rel="stylesheet" href="{% static 'css/main.css'%}">
{% endblock %}

{% block content %}
<!-- From Uiverse.io by micaelgomestavares --> 
 <div class="container">
<form class="form" action="{% url 'contact' %}" method="post" enctype="multipart/form-data" onsubmit="wait()">
    {% csrf_token %}
    <p class="title">Kontaktný formulár </p>
    <p class="message" style="color: lightgray;">napíšte nám a my vám pomôžeme vyriešiť váš problém </p>
        <div class="flex">
        <label>
            <input class="input" type="text" placeholder="" required name="fname" id="fname">
            <span>Meno</span>
        </label>

        <label>
            <input class="input" type="text" placeholder="" required name="lname" id="lname">
            <span>Priezvisko</span>
        </label>
    </div>  
            
    <label>
        <input class="input" type="email" placeholder="" required name="email" id="email">
        <span>Email</span>
    </label> 
    <label>
        <input class="input" type="text" placeholder="" required name="address" id="address">
        <span>Adresa</span>
    </label> 
        
    <label>
        <input class="input" type="tel" placeholder="" required name="phone" id="phone" pattern="[0-9]{4} [0-9]{3} [0-9]{3}">
        <span>Telefónne číslo</span>
        <small style="font-size: 0.75em; color: lightgray;"><i>vo forme: 0901 234 567</i></small>
    </label>
    <label>
        <select class="input" style="padding-block: 15px 15px;" name="category" id="category" required>
            <option value="" selected disabled>Kategoria</option>
            {% for service in services %}
            <option value="{{ service.id }}" {% if select == service.id %} selected {% endif %}>{{ service.title }}</option>
            {% endfor %}
        </select>
    </label>
    <label>
        <textarea class="input" placeholder="" required name="details" id="details"></textarea>
        <span>Detaily</span>
    </label>

    <label for="attachment" class="file-upload-label">
        <span>Príloha</span>
        <input type="file" name="attachment" id="attachment" accept="image/png, image/jpeg" class="file-upload-input">
    </label>

    
    <button class="submit" id="submitbtn">Odoslať</button>
</form>
    <div class="alt-contact">
      <p>Preferujete priamy kontakt? Zavolajte nám na <a href="tel:+421948337362">+421 948 337 362</a>, <a href="tel:+421919268998">+421 919 268 998</a> alebo napíšte na <a href="https://www.facebook.com/profile.php?id=61573216465987">Facebook</a></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function wait() {
    const btn = document.getElementById("submitbtn");
    btn.innerText = "odosielam...";
    btn.disabled = true;
    btn.style.backgroundColor = '#8a6969'
    btn.style.color = '#aaa'
}

</script>

{% endblock %}